*{
  margin: 0;
  padding: 0;
}
body{

  font-family: 'Noto Sans KR';
  font-weight: 400;
  color:#666;
}
ul, li, dl, dt, dd{
  list-style: none;
}
button{ background-color: transparent; border:0}

#app ul{
  padding-left: 0;
}

.tabbox .on button{
  background-color: black;
  color:white
}